<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://reactchatapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>reactchatapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ReactChatAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ReactChatAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureDBConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=davidsigemo.database.windows.net;Initial Catalog=ReactChat;Persist Security Info=True;User ID=DavidS;Password=mupp1532!;Application Name=EntityFramework" Name="Data Source=davidsigemo.database.windows.net;Initial Catalog=ReactChat;Persist Security Info=True;User ID=DavidS;Password=mupp1532!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="reactchatAPI.Models.AzureDBConnection, reactchatAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureDBConnection-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ReactChatAzureDB.csdl|res://*/Models.ReactChatAzureDB.ssdl|res://*/Models.ReactChatAzureDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=davidsigemo.database.windows.net;Initial Catalog=ReactChat;Persist Security Info=True;User ID=DavidS;Password=mupp1532!;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>